<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Marién Yoga</title>
    <link rel="stylesheet" href="pagestyle.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>


    <!-- <%= favicon_link_tag %> -->
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar navbar-expand-sm navbar-light">
      <!-- left link -->
      <div class="left-navbar">
        <div id="mainFlag" class="dropdown">
          <input type="checkbox" />
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <script type="text/javascript">
                var language = window.navigator.userLanguage || window.navigator.language;
                var iconPaths = ['images/spain.png', 'images/catalonia.png', 'images/france.png'];
                var icons = new Array();
                for(var i in iconPaths) {
                  icons[i] = new Image();
                  icons[i].src = iconPaths[i];
                }
                // console.log(icons[0])
                icons[2];
                  // let langId = language.substring(0, 2);
                  // if (langId === "ca") {
                  //   icons[1];
                  // } else if (langId === "fr") {
                  //   icons[2];
                  // } else {
                  //   icons[0];
                  // }
              </script>
            <!-- <% if params[:locale] == nil %>
            <%= link_to image_tag('spain.png'), { locale: nil } %>
            <% elsif params[:locale] == 'ca' %>
            <%= link_to image_tag('catalonia.png'), {locale: 'ca'} %>
            <% else %>
            <%= link_to image_tag('france.png'), { locale: 'fr' } %>

            <% end %> -->
          </button>
          <ul id="flags">
            <a href="#es" data-reload>
              <img src="images/spain.png" alt="spain flag" class="active">
            </a>
            <a href="#ca" data-reload>
              <img src="images/catalonia.png" alt="catalonia flag">
            </a>
            <a href="#fr" data-reload>
              <img src="images/france.png" alt="french flag">
            </a>
          </ul>
        </div>


      </div>
      <!-- logo-yoga -->
      <div class="center-logo">
        <div class="moving-letters flex-start" type="submit">
         <!--  <%= link_to root_path do %>
          <% end %> -->
          <a href="#">
            <h1>
              <span class="text-wrapper">
                <span class="line line1"></span>
                <span class="letters letters-left">Marién</span>
                <span class="letters logo-img">
                  <img src="images/logo.svg" alt="logo image">
                </span>
                <span class="letters letters-right">Yoga</span>
                <span class="line line2"></span>
              </span>
            </h1>
          </a>
        </div>
        <!-- script moving-letters -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
      </div>

      <!-- right links---------------- -->
      <!-- burger-to-x -->
      <div class="right-navbar burger-to-X">
        <div class="right-navbar burger-to-X">
          <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
          <ul id="menu">
            <li class="nav-item">
              <a href="/yoga/#hatha" class="nav-link">Hatha Yoga</a>
             <!--  <%= link_to "Hatha Yoga / Yoga Nidra", yoga_path , class: "nav-link" %> -->
            </li>
            <li class="nav-item">
              <a href="/yoga/#nidra" class="nav-link">Yoga Nidra</a>
            </li>
            <li class="nav-item">
              <a href="/wellness" class="nav-link">Wellness at Work</a>
              <!-- <%= link_to "Wellness at work", wellness_path , class: "nav-link" %> -->
            </li>
            <li class="nav-item">
              <a href="/knee" class="nav-link">K - Training</a>
              <!-- <%= link_to "K - training", knee_path , class: "nav-link" %> -->
            </li>
            <li class="nav-item">
              <a href="#about-me" class="nav-link">Bio</a>
            </li>
          </ul>
          </div>
        </div>
      </div>
      <!-- extended-menu -->
      <div class="right-navbar extended-menu">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
      </div>
    </div>

    <div class="banner">
      <div class="color-box">
        <div class="center">
          <img src="images/logo.svg" alt="logo image">
          <h1>Marién Yoga</h1>
          <div class="slogan">
            <p>Keep it Simple</p>
              <i class="fab fa-pagelines"></i>
            <p>Yoga & Wellness</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- bio -->
      <div id="about-me">
        <div class="card-area">
          <div class="title-line"><h3>Bio</h3></div>
          <div class="card-info">
            <div class="content">
            <div class="avatar-image">
              <!-- <img src="catalonia.png" alt="EN ATTENDANT LA PHOTO DE MARIEN" class="avatar-large"> -->
            </div>
              <h4>Je m’apelle Marién Garcia et j’habite à Barcelone.</h4>
              <p>
                J’ai commencé à faire du Hatha Yoga quand j’avais vingt trois ans mais j’ai arrêté, quelques années plus tard j’ai repris car je ressentais beaucoup d’instabilité dans ma vie, j’étais un peu perdue. La maternité et le travail m’epuisaient et je sentais par moments beaucoup d’angoisse, je n’étais pas bien ni physiquement ni mentalement, je devais faire un changement et j’avais l’intuition que le yoga pourrait m’aider.
                <br>
                Petit à petit j’ai repris la pratique et je sentais que j’avais besoin d’y aller même trois fois par semaine, ces cours m’apportaient une serenité, un calme spécial, je brillais à nouveau et je ressentait un épanouissement et une confiance totale en moi.
                <br>
                En 2015 j’ai fait la formation de professeur de Hatha Yoga à Yoga Studio Barcelona avec Xavier Solà et Pilar Ruberte et pendant deux années intenses j’ai fait beaucoup d’études et prattique regulière et intense, j’ai vécu une grande transformation au niveau personnel.
                <br>
                J’ai fait un changement important au niveau physique, mental et emmotionnel. C’est à ce point là que j’ai compris que le Yoga est le chemin vers la transformation. Puisque dans la vie le changement est constant et inminent et nous avons besoin de changer sans cesse pour pouvoir avancer et laisser la place aux nouvelles choses car le vieux, reste dans le passé.
                <br>
                Quand j’ai fini la formation, j’ai continué ma pratique, mes études et j’ai appris de façon autodidacte, ces dernières années j’ai eu l’occasion d’assister à de nombreuses formations et seminaires de professeurs magnifiques comme Tomás Zorzo, Danilo Hernández, Micheline Flak, Angelo Cecci, Susana Castro etc… Toutes ces connaissances et differentes approches m’ont beaucoup aidé à intégrer l’éssence du yoga traditionnel dans ma vie et pouvoir le transmettre lors de mes cours.
                <br>
                J’enseigne en géneral en espagnol mais aussi en catalan et français
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- students -->
      <div id="students">
        <div class="card-area">
          <!-- <div class="title-line"><h3>students</h3></div> -->
          <div class="container-student">
            <!-- <div class="card-student card-img-a col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4"> -->
            <!-- </div> -->
            <div class="card-student">
              <div class="avatar-large card-img-a"></div>
              <div class="text">
                <p><em>La pratique du Hatha Yoga avec Marién m’a apporté une autre aproche pour comprendre et pratiquer le yoga d’une manière plus versatile; je peux connecter et travailler chaque posture et ressentir comment mon corps répond à chaque mouvement. Ainsi que la prise de conscience de ma respiration à chaque séance, et au fur et à mesure que j’avance dans ma pratique, je constate que mon corps devient de plus en plus souple.</em></p>
                <p><em> - Xus</em></p>
              </div>
            </div>
            <div class="card-student">
              <div class="avatar-large card-img-b"></div>
              <div class="text">
                <p><em>Avec mon compagnon, nous avons découvert le Yoga Nidra grâce avec Marién en 2018. Son enseignement est très agréable et sa passion se ressent à chaque instant. Sa douceur, son attention et ses connaissances nous font profiter pleinement des cours. Lors de chaque séance, non seulement nous voyageons et nous nous détendons mentalement, mais nous soulageons également les tensions corporelles. Un enseignant recommandé à 100% !</em></p>
                <p><em> - Estrella et Thibault</em></p>
              </div>
            </div>
            <div class="card-student">
              <div class="avatar-large card-img-c"></div>
              <div class="text">
                <p><em>Notre équipe est ravie des séances de yoga que Marién nous donne toutes les semaines au bureau de Barcelone. La pratique du yoga nous aide à être plus conscients et à se concentrer. Ce qui est vraiment important pour nous, au niveau professionnel et personnel.</em></p>
                <p><em> - Steffen Schwörer, GlobalCAD</em></p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- images presentation -->
      <div class="container">
        <!-- <div class="images">
          <div class="card image-a"></div>
          <div class="card image-b"></div>
          <div class="card image-c"></div>
          <div class="card image-d"></div>
          <div class="card image-e"></div>
        </div> -->
      </div>
    </div>
    <!-- footer -->
    <div class="footer">
      <div class="footer-links">
        <a href="https://www.instagram.com/marienyoga/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/mari%C3%A9n-garcia-4b9b783b/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-link-credit">
        <a href="https://www.linkedin.com/in/laurent-binder/" target="_blank">
          <div class="footer-copyright large-devise">
            This Website is made with <i class="fas fa-heart"></i> by Lo
          </div>
          <div class="footer-copyright small-devise">
            made by Lo
          </div>
        </a>
      </div>
    </div>
    <script src="javascript.js" type="text/javascript"></script>
  </body>
</html>
