<!-- navbar -->
<div class="navbar navbar-expand-sm navbar-light">
  <!-- left link -->
  <div class="left-navbar">
    <div id="mainFlag" class="dropdown">
      <input type="checkbox" />
      <p id='actualLanguage'><script type="text/javascript">actualLanguage.innerHTML = window.location.hash.substring(1, 3) || 'es'</script></p>
      <!-- <script type="text/javascript">
        var iconPaths = ['images/spain.png', 'images/catalonia.png', 'images/france.png'];
        var icons = new Array();
        for(var i in iconPaths) {
          icons[i] = new Image();
          icons[i].src = iconPaths[i];
          // document.getElementById('nav-placeholder').appendChild(icons[i]);
          // document.getElementById('mainFlag').innerHTML = 'not working';

        }

        if (window.location.hash === "#ca") {
          icons[1];
        } else if (window.location.hash === "#fr") {
            icons[2];
        } else {
            icons[0];
        }

      </script> -->
      <!-- <script type="text/javascript">
            var language = window.navigator.userLanguage || window.navigator.language;
            var iconPaths = ['images/spain.png', 'images/catalonia.png', 'images/france.png'];
            var icons = new Array();
            for(var i in iconPaths) {
              icons[i] = new Image();
              icons[i].src = iconPaths[i];
            }
            // console.log(icons[0]);
            // console.log(document.documentElement.lang);
            // console.log(language);
            // icons[2];
              // let langId = language.substring(0, 2);
              // if (langId === "ca") {
              //   icons[1];
              // } else if (langId === "fr") {
              //   icons[2];
              // } else {
              //   icons[0];
              // }
          </script> -->
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      </button>
      <ul id="flags">
        <a href="#es" onclick="reloadPage()">
          <img src="images/spain.png" alt="spain flag" class="active">
        </a>
        <a href="#ca" onclick="reloadPage()">
          <img src="images/catalonia.png" alt="catalonia flag">
        </a>
        <a href="#fr" onclick="reloadPage()">
          <img src="images/france.png" alt="french flag">
        </a>
      </ul>
    </div>


  </div>
  <!-- logo-yoga -->
  <div class="center-logo">
    <div class="moving-letters flex-start" type="submit">
     <!--  <%= link_to root_path do %>
      <% end %> -->
      <a href="#">
        <h1>
          <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters letters-left">Marién</span>
            <span class="letters logo-img">
              <img src="images/logo.svg" alt="logo image">
            </span>
            <span class="letters letters-right">Yoga</span>
            <span class="line line2"></span>
          </span>
        </h1>
      </a>
    </div>
    <!-- script moving-letters -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js" integrity="sha384-9atDx0xPB099lQEyzgFCXU+VJUpNXc+PmPsPG0kTD5qjvDZK5yzMwMj8eof6Kqyz" crossorigin="anonymous"></script>
  </div>

  <!-- right links---------------- -->
  <!-- burger-to-x -->
  <div class="right-navbar burger-to-X">
    <div class="right-navbar burger-to-X">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
      <ul id="menu">
        <li class="nav-item">
          <a href="yoga.html#hatha" class="nav-link">Hatha Yoga</a>
        </li>
        <li class="nav-item">
          <a href="yoga.html#nidra" class="nav-link">Yoga Nidra</a>
        </li>
        <li class="nav-item">
          <a href="wellness.html" class="nav-link">Wellness at Work</a>
        </li>
        <li class="nav-item">
          <a href="knee.html" class="nav-link">K - Training</a>
        </li>
        <li class="nav-item">
          <a href="index.html#bio" class="nav-link">Bio</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
  <!-- extended-menu -->
  <div class="right-navbar extended-menu">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>
</div>
